@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhai+2:wght@400..800&family=Martel+Sans:wght@200;300;400;600;700;800;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhai+2:wght@400..800&family=Martel+Sans:wght@200;300;400;600;700;800;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}

body {
    background-color: black;
}

.main {
    background-image: url("assets/images/bg-image.jpg");
    height: 80vh;
    background-position: center center;
    position: relative;
    background-repeat: no-repeat;
    background-size: max(1200px, 100vw);
}
/* @media screen and (max-width:400px) {
    .main{
        background-size: max(100vw,80vh);
    }
} */

.main .box {
    height: 80vh;
    width: 100%;
    position: absolute;
    top: 0;
    background-color: #000;
    opacity: 0.69;
}

nav {
    height: 100px;
    width: 68vw;
    margin: auto;
    position: relative;
    /* top: 0; */
    z-index: 10;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


/* @media screen and (max-width:400px) {
    nav {

        flex-direction: column;
    }

    nav .buttons {
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

} */

nav .buttons {
    display: flex;
    gap: 20px;

}

nav .buttons span button {
    font-weight: bold;
    /* width: 75px; */
    /* padding: 7px 15px; */
    cursor: pointer;
    border: none;
    border-radius: 5px;
}

nav .buttons .btn-language {
    background-color: rgba(23, 23, 23, 0.7);
    padding: 3px 30px 3px 30px;
    box-sizing: border-box;
    border: 2px solid rgba(141, 132, 132, 0.5);
    color: #d4cece;
    cursor: pointer;
    border-radius: 5px;
    font-weight: 700;
    font-size: 1.1rem;

}

nav .buttons .btn-red {
    background-color: red;
    padding: 8px 20px 8px 20px;
    color: white;


}

option {
    font-size: 13px;
    background-color: rgba(48, 47, 47, 0.5);
}

.hero {
    height: calc(100% - 100px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    /* z-index: 10; */
    color: white;
    padding: 0 30px;
    text-align: center;
    gap: 23px;
}

.hero span:first-child {
    font-family: "Poppins", sans-serif;
    /* font-family: "Martel Sans", sans-serif; */
    font-size: 35px;
    font-weight: 700;
    word-break: keep-all;
}

.hero span:nth-child(2) {
    font-family: "Martel Sans", sans-serif;
    font-size: 20px;
    font-weight: 800;
}

.hero-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
}

.hero div input {
    padding: 7px 74px 7px 6px;
    background-color: rgba(23, 23, 23, 0.5);
    border: 2px solid rgba(246, 238, 238, 0.5);
    box-sizing: border-box;
    border-radius: 3px;
    font-weight: 500;
    color: white;
}

.hero div button {
    padding: 10px 20px;
    border-radius: 4px;
    border: none;
    font-weight: 600;
    color: white;
    cursor: pointer;
    background-color: red;
    display: flex;
    flex-wrap: wrap;
}

.seperation {
    /* width: 100%; */
    height: 7px;
    background-color: #575454;
}

.secImg img {
    width: 555px;
    position: relative;
    z-index: 10;
}

.secImg {
    position: relative;

}

.first {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 70vw;
    margin: auto;
    color: white;
}

@media screen and (max-width:1200px) {
    .first {
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }
}


.secImg {
    position: relative;
}


.secImg:hover {
    box-shadow: 2px 3px 13px 2px rgba(133, 131, 131, 0.425);
}

.secImg video {
    position: absolute;
    top: 51px;
    right: 0;
    width: 555px;
}

section.first>div {
    display: flex;
    flex-direction: column;
    padding: 34px 0;
}

section.first>div :nth-child(1) {
    font-size: 48px;
    font-weight: bolder;
}

section.first>div :nth-child(2) {
    font-size: 24px;
}

.faq {
    background: #000;
    color: white;
    padding: 34px;
}

.faq h2 {
    text-align: center;
    font-size: 40px;
}

.faqbox svg {
    filter: invert(1);
}

.faqbox:hover {
    background-color: #817e7e;
    color: white;
}

.faqbox {
    background-color: #2d2d2d;
    max-width: 60vw;
    margin: auto;
    color: white;
    display: flex;
    border-radius: 5px;
    justify-content: space-between;
    padding: 24px;
    transition: all 1s ease-out;
    /* transition: ease-in-out; */
    cursor: pointer;
    font-size: 24px;
    margin: 20px auto;
}


footer {
    padding: 25px;
    margin: auto;
    color: white;
    max-width: 60vw;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    display: flex;
    flex-direction: column;
}

footer .questions {
    padding: 34px 0;
        font-size: 23px;
        font-weight: 500;
    /* color: white; */
}

.footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 23px;
    color: white;
}

.footer .footer-item a {
  position: relative;
  font-size: 14px;
  color: white;
  text-decoration: none;
}

.footer .footer-item a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -4px;
  width: 100%;
  height: 2px;
  background: #af2828;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.3s ease;
}

.footer .footer-item a:hover::after {
  transform: scaleX(1);
}


.footer-item {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

@media screen and (max-width: 1300px) {
    .footer {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 25px;
    }
    
}


@media screen and (max-width:1300px) {
    nav {
        max-width: 90vw;
    }

    .first {
        flex-wrap: wrap;
    }

    .secImg img {
        width: 305px;
    }

    .secImg video {
        width: 305px;
    }

    .hero> :nth-child(1) {
        font-size: 32px;
    }

    .hero> :nth-child(2) {
        font-size: 18px;
    }

    .hero> :nth-child(3) {
        font-size: 18px;
    }

    .hero-buttons {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 16px;
    }

    .faq h2 {
        text-align: center;
        font-size: 32px;
    }

    footer {
        max-width: 90vw;
        padding: 75px 0;
        display: flex;
        flex-direction: column;
        /* align-items: center; */
        /* justify-content: space-between; */
    }

    .footer-item {
        justify-content: center;
        /* align-items: center; */
    }

}

.heading{
    padding: 5px 20px;
    color: white;
    font-size: 20px;
    font-weight: 500;
}

.copyright{
    padding: 5px 20px;
    display: flex;
    align-items: center;


}


.copyright span{
    font-size: 13px;
    color: white;
    flex-wrap: wrap;
    word-break: keep-all;
}
.copyright span a{
    font-size: 13px;
}